{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- About Start -->
<div class="container-fluid py-6 px-5">
    <div class="row g-5">
        <h1 class="display-5 text-uppercase mb-4">Declaration of <span class="text-primary">faith</span></h1>
        <h4 class="text-uppercase mb-3 text-body">Bethel New Testament Church of God believes that the Bible is the written Word of God, and is completely and equally inspired.</h4>
        <p>Our Church has adopted the following declaration of faith as the standard and official expression of our doctrine.</p>
        <div class="row gx-5 py-2">
            <div class="mb-2">
                <ul>We believe in the verbal inspiration of the Bible.</ul>
                <ul>We believe in one God, externally existing in three persons: the Father, the Son and the Holy Spirit.</ul>
                <ul>We believe that Jesus Christ is the only begotten Son of the Father, conceived of the Holy Spirit, and born of the Virgin Mary.</ul>
                <ul>We believe that Jesus was crucified, buried, and raised from the dead.</ul>
                <ul>We believe that Jesus has ascended to heaven and is at the right hand of the Father as the intercessor.</ul>
                <ul>We believe that all have sinned and fallen short of the glory of God and that repentance is commanded and necessary for the forgiveness of sins.</ul>
                <ul>We believe that justification, regeneration and the new birth are brought by faith in the blood of Jesus Christ.</ul>
                <ul>We believe in the sanctification subsequent to the new birth, through faith in the blood of Christ, through the Word and by the Holy Spirit.</ul>
                <ul>We believe Holiness to be God's standard of living for His people.</ul>
                <ul>We believe in baptism by the Holy Spirit subsequent to a clean heart.</ul>
                <ul>We believe in water baptism by immersion, and that all who repent should be baptised in the name of the Father, the Son and the Holy Spirit.</ul>
                <ul>We believe in speaking tongues as the Spirit gives utterance and that it is an evidence of baptism by the Holy Spirit.</ul>
                <ul>We believe in divine healing provided for all in atonement.</ul>
                <ul>We believe in the Lord's Supper.</ul>
                <ul>We believe in the second coming of Jesus. First, to resurrect the righteous dead and to catch away the living saints to Him in the air. Second, to reign on earth a thousand years.</ul>
                <ul>We believe in the bodily resurrection, the eternal life for the righteous and eternal punishment for the wicked. </ul>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}